# Arquivos Python
__pycache__/
*.py[cod]
*.env
*.venv

# Ambiente virtual
venv/
env/
cinebase

# Arquivos sensíveis
.env
.env.local
secrets.py

# Logs e databases
*.log
*.sqlite

# Diretórios de IDE
.idea/
.vscode/
